h1 {
  text-align: center;
  margin-bottom: 50px;
}

.box {
  color: blue;
}

li {
  margin-top: 20px;
}

img {
  display: none;
  width: 300px;
}

form {
  margin-bottom: 30px;
}

body {
  background-color: lightgray;
}
